:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	user-select: none;
}

a {
	color: #9096ff;
	text-decoration: inherit;
	transition: text-shadow 0.5s;
}

a:hover {
	text-shadow: 0 0 7px #9096ff;
}

input {
	background-color: transparent;
	color: inherit;
	font: inherit;
	border: none;
	border-bottom: 1px solid;
	border-radius: 2px;
	outline: none;
	font-weight: 400;
}

body {
	margin: 0;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 10px 15px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	color: #ffffff;
	cursor: pointer;
	transition: border-color 0.25s;
	outline: none;
}
button:hover {
	border-color: #fff;
}

.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.c-emphasise-text {
	font-weight: bold;
	font-size: 1.1em;
}

hr {
	border: none;
	height: 1.5px;
	min-width: 60px;
	background-color: #ffffff;
}

@keyframes a-opacity {
	0% { opacity: 0; }
	50% { opacity: 0.3; }
	100% { opacity: 0; }
}

.c-glow-yellow,
.c-glow-green,
.c-tint {
	position: relative;
}

.c-glow-yellow::before {
	color: gold;
}

.c-glow-green::before {
	color: lime;
}

.c-glow-yellow::after,
.c-glow-green::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	animation: a-opacity 2s infinite;
	pointer-events: none;
}

.c-glow-yellow::after {
	background: gold;
}

.c-glow-green::after {
	background: rgba(0, 128, 0, 0.6);
}

.c-darker::before {
	color: rgb(80, 80, 80);
}

.c-tint::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: inherit;
	background: var(--tint-background);
	opacity: var(--tint-opacity, 0.3);
	pointer-events: none;
}

.c-tint--green {
	--tint-background: #3ea23e;
}

.c-tint--red {
	--tint-background: #a23e3e;
}